.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
  }
  .num {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 600;
  }
  .lo {
    cursor: pointer;
  }