.swiper-pagination {
  margin-bottom: 20px;
  display: flex;
  width: unset !important;
  justify-content: end;
  right: 20px;
  gap: 10px;
}

.swiper-pagination-bullet {
  border: 3px solid #ffffff;
  width: 18px;
  height: 18px;
}
.swiper-pagination-bullet[aria-current="true"] {
  background: #ffffff;
}
